.pullout ul {
margin:5px 0;
padding:0;
}

.above {
margin-top:20px;
}

#admin-menu {
z-index:1001;
}

.main {
background:none no-repeat top left;
padding:20px 0 0;
position:relative;
}

.main.with-above {
padding:10px 0 0;
}

#main-content .field-name-field-images {
margin:10px 0;
}

.aside {
margin-top:10px;
padding:0;
}

.aside.col-2 {
display:inline;
margin-top:20px;
padding:20px 0 0;
}

.dropdown {
font-size:104%;
margin-left:15px;
}

.dropdown ul#nice-menu-1 li li.menuparent:hover,.dropdown ul#nice-menu-1 li:hover,.dropdown ul#nice-menu-1 li.menuparent:hover,.dropdown ul#nice-menu-1 li li:hover {
background:#003b75;
}

.dropdown ul#nice-menu-1 li.menuparent,.dropdown ul#nice-menu-1 li li.menuparent {
background:#003366;
}

.dropdown ul#nice-menu-2 li li.menuparent:hover,.dropdown ul#nice-menu-2 li:hover,.dropdown ul#nice-menu-2 li.menuparent:hover,.dropdown ul#nice-menu-2 li li:hover {
background:#25588f;
}

.dropdown ul#nice-menu-2 li.menuparent,.dropdown ul#nice-menu-2 li li.menuparent {
background:#214F80;
}

.dropdown ul.nice-menu-down {
display:block;
height:30px;
line-height:30px;
overflow:visible;
width:960px;
}

.dropdown ul.nice-menu-down li {
border:0 solid transparent;
border-left:0;
border-top:0;
float:left;
margin:0;
}

.dropdown ul.nice-menu-down li ul li ul {
left:220px;
top:0;
}

.dropdown ul.nice-menu-down ul {
border:0;
border-top:0 solid transparent;
left:0;
margin-right:0;
top:30px;
}

.dropdown ul.nice-menu-down ul li,.dropdown ul.nice-menu-down li li {
background:#003366;
border-left:0 solid transparent;
border-top:0;
clear:both;
margin-right:0;
width:220px;
}

.dropdown ul.nice-menu-down,.dropdown ul.nice-menu-down ul {
border:0;
border-top:0 solid transparent;
float:left;
list-style:none;
margin:0;
padding:0;
}

.dropdown a,.dropdown a:link,.dropdown a:visited,.dropdown a:active,.dropdown ul.nice-menu-down a {
color:#A8C5E0;
height:30px;
line-height:30px;
margin:0 10px;
padding:0 10px;
}

.dropdown a:hover,ul.nice-menu-down a:hover,.dropdown ul.nice-menu-down a:focus {
color:#fff;
}

.element-invisible {
clip:rect(1px,1px,1px,1px);
position:absolute!important;
}

.featured .pullout {
background:#dfe9f4 none no-repeat;
display:block;
left:0;
padding:0 10px;
}

.front .header.with-ht {
margin:0 0 8px;
}

.front .dropdown-inner {
margin:0 0 25px;
}

.header #headingtext {
padding-top:10px;
}

.logged-in .dropdown-inner {
height:60px;
}

.main .view-Profiles a,.front .main a,.main .view-zones a,.user-picture a,.main a:hover {
border-bottom:0 none;
}

.not-logged-in .dropdown-inner {
height:30px;
}

.page-preview {
float:left;
margin-top:15px;
padding-top:0;
}

.user-picture {
margin:10px 0;
padding:0;
}

.view-filters form {
margin-bottom:5px;
margin-top:5px;
overflow:hidden;
}

.view-zones .views-field-field-images ul li {
list-style-type:none;
margin:0 0 8px;
padding:0;
}

.views-exposed-form .views-exposed-widget {
padding: 10px 2px 0 0;
}

.views-table {
width:100%;
}

.views-table .views-field-field-phone {
white-space:nowrap;
}

.views-table td,.views-table tr,.views-table th {
padding:5px;
}

.views-table ul {
list-style-type:none;
margin:0;
padding:0;
}

.views-table ul li {
margin:0 0 5px;
padding:0;
}

button,.button,input[type=submit],form.wbg input[type=submit],input.form-submit,input#edit-submit-profiles,input#edit-submit,input.button,a.button {
height:auto;
margin:2px 0 4px 10px;
padding:5px 6px;
}

form .views-exposed-widget select {
margin-bottom:0;
margin-top:0;
}

form input,form textarea,form select {
padding:1px;
}

form label,form p {
text-align:left;
}

h1#page-title {
margin:0 0 10px;
}

td.active {
background-color:inherit;
}

ul li.expanded,ul li.leaf,ul li.collapsed {
list-style-image:none;
list-style-type:none;
}

ul#nice-menu-1 {
z-index:5;
}

ul#nice-menu-1 li {
background-color:#003366;
}

ul#nice-menu-2 {
z-index:4;
}

ul#nice-menu-2 li {
background-color:#214F80;
}

.profile a
#g-local-global-search {
color:#D3DBE5;
font-family:sans-serif;
font-size:10px;
height:100px;
line-height:1.3;
position:absolute;
right:20px;
text-align:right;
top:40px;
width:310px;
}

#g-local-global-search-overlay input {
font-family:sans-serif;
font-size:12px;
margin:0;
}

#g-local-global-search-overlay::before {
border-bottom:5px solid #0A2C4F;
border-left:4px solid transparent;
border-right:4px solid transparent;
border-top:0;
content:' ';
display:block;
position:absolute;
right:30px;
top:-4px;
}

#g-local-global-search-overlay {
-moz-border-radius:6px;
-moz-box-shadow:3px 3px 6px rgba(0,0,0,0.7);
-moz-text-shadow:1px 1px 0 rgba(0,0,0,0.3);
-moz-transition:opacity 200ms linear, top 200ms linear;
-o-border-radius:6px;
-o-box-shadow:3px 3px 6px rgba(0,0,0,0.7);
-o-text-shadow:1px 1px 0 rgba(0,0,0,0.3);
-webkit-border-radius:6px;
-webkit-box-shadow:3px 3px 6px rgba(0,0,0,0.7);
-webkit-text-shadow:1px 1px 0 rgba(0,0,0,0.3);
-webkit-transition:opacity 200ms linear, top 200ms linear;
background:#082644;
background-image:none;
border-radius:6px;
box-shadow:3px 3px 6px rgba(0,0,0,0.7);
font-size:12px;
color: #D3DBE5;
padding:8px 14px 10px;
position:absolute;
right:10px;
text-shadow:1px 1px 0 rgba(0,0,0,0.3);
top:50px;
transition:opacity 200ms linear, top 200ms linear;
width:250px;
z-index:10002;
}

#g-global-search #g-global-search-overlay {
padding:8px 14px 10px;
}

#g-global-search-overlay #g-searchform label {
clear:both;
display:block;
float:none;
margin-top:0;
padding:0 0 6px 2px;
text-align:left;
}

#g-local-global-search-overlay label {
clear:none;
float:none;
padding:0;
text-align:left;
}

#g-local-global-search-overlay label span {
display:block;
margin:0 0 5px;
}

#g-local-global-search-overlay #search-block-form .form-submit {
-moz-border-radius:4px;
-moz-box-shadow:2px 2px 4px rgba(0,0,0,0.2);
-moz-text-shadow:1px 1px 0 rgba(0,0,0,0.3);
-o-border-radius:4px;
-o-box-shadow:2px 2px 4px rgba(0,0,0,0.2);
-o-text-shadow:1px 1px 0 rgba(0,0,0,0.3);
-webkit-border-radius:4px;
-webkit-box-shadow:2px 2px 4px rgba(0,0,0,0.2);
-webkit-text-shadow:1px 1px 0 rgba(0,0,0,0.3);
background:#446791;
background-image:none;
border:0;
border-radius:4px;
box-shadow:2px 2px 4px rgba(0,0,0,0.2);
color:white;
left:-4px;
opacity:1;
position:relative;
text-shadow:1px 1px 0 rgba(0,0,0,0.3);
top:-1px;
width:auto;
}

#g-local-global-search-overlay #search-block-form .form-submit,#g-global-search #g-global-search-overlay #g-global-search-submit {
padding:7px 12px;
}

#g-local-global-search-overlay #search-block-form .form-text {
-moz-border-radius:3px;
-moz-box-shadow:inset 2px 2px 7px #789FBF;
-moz-text-shadow:0 0 0;
-o-border-radius:3px;
-o-box-shadow:inset 2px 2px 7px #789FBF;
-o-text-shadow:0 0 0;
-webkit-appearance:textfield;
-webkit-border-radius:3px;
-webkit-box-shadow:inset 2px 2px 7px #789FBF;
-webkit-text-shadow:0 0 0;
background:#fff;
border:0;
border-radius:3px;
box-shadow:inset 2px 2px 7px #789FBF;
display:inline;
float:left;
font-family:sans-serif;
font-size:12px;
margin:0;
opacity:1;
padding:6px 5px;
text-shadow:0 0 0;
width:160px;
}

#g-header #g-breadcrumb-menu {
position:relative;
}

#g-header #g-breadcrumb-menu #g-breadcrumb-home {
position:relative;
z-index:90;
}

#g-header #g-breadcrumb-menu .g-breadcrumb {
background:#234C77 url(http://brand.unimelb.edu.au/global-header/images/breadcrumb-right-dark.png) top right no-repeat;
display:inline;
float:left;
font-size:10px;
font-weight:normal;
left:0;
list-style:none;
list-style-type:none;
margin:0;
padding:0 12px 0 0;
position:relative;
text-align:center;
z-index:89;
}

#g-header #g-breadcrumb-menu li.g-breadcrumb a {
background:url(/drupal/1-0-beta1/images/breadcrumb-left-fade.png) repeat-y scroll left top transparent;
color:#B2C3D5;
}

.view-display-id-News .news-item h3 {
display:block;
}

.aside h2 {
color:#036;
}

blockquote.opening-hours {
-moz-border-radius:3px;
-o-border-radius:3px;
-webkit-border-radius:3px;
background-position:8px 12px;
border-radius:3px;
padding:13px 10px 10px;
}

blockquote.opening-hours p.event-title {
font-size:16px;
font-weight:bold;
margin:0 0 5px 30px;
padding:0;
text-indent:0;
}

blockquote.opening-hours h2 {
padding-top:0;
}

blockquote .field-name-body p {
font-weight:normal;
margin:0;
padding:0;
text-indent:0;
}

blockquote.opening-hours p.event-title a {
border-bottom:0 none;
color:#036;
}

blockquote {
padding:10px 10px 10px 43px;
}

a.button {
clear:both;
float:none;
margin:8px 0;
}

.profile .user-picture {
clear:both;
float:none;
}

.profile .field-name-field-first-name {
float:left;
margin-right:.4em;
}

.profile .field-name-field-first-name,.profile .field-name-field-last-name {
font-size:16px;
font-weight:bold;
}

.view-profiles .polaroid {
margin-top:15px;
}

.maintenance-page #container {
height:240px;
}

.pullout ul li,.nav ul,blockquote .field-name-field-dates,blockquote .field-name-field-times,blockquote .field-name-field-location,.view-display-id-News p,.view-display-id-Events p,.view-display-id-Column1 p,.view-display-id-Column2 p,.view-display-id-Column3 p,.view-display-id-Column4 p {
margin:0;
}

.front .nav ul.menu,#search-form label,.not-logged-in #nice-menu-2,.view-display-id-News h3,.maintenance-page #header,.maintenance-page #main,.maintenance-page #backtotop {
display:none;
}

.front .header.without-ht,.header {
margin:0 0 36px;
}

a:hover h2,a h2:hover,blockquote.opening-hours p.event-title a:hover,blockquote.opening-hours p.event-title a:hover {
color:#c33;
}

.dropdown ul#nice-menu-1 .menuparent a,.dropdown ul#nice-menu-2 .menuparent a,.nav ul li ul li ul li {
padding-right:10px;
}

.views-table ul li.last,.opening-hours p {
margin:0;
padding:0;
}

#search-form .form-type-textfield {
width: 280px;
}

form input, form textarea, form select {
display: inline;
}